.experience {
  background: $cs-light;
  .exp-content {
    .company {
      padding-top: 15px;
      padding-bottom: 60px;
      width: 100%;
      .loc {
        float: right;
      }
      h2 {
        margin-bottom: 10px;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .text {
        width: 65%;
      }
      .logo {
        justify-content: center;
        height: auto;
        width: 30%;
        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      ul {
        margin: 20px 0 20px 40px;
      }
    }
    .company-logo-right {
      .logo-top {
        display: none;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .title {
    &::after {
      background: $cs-light;
    }
  }
}
