/* home section styling */
.home {
  display: flex;
  background: url("../images/landscapebg.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  .max-width {
    margin: auto 0 auto 30px;
  }
  .center {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto 0 auto 30px;
  }
  .home-content {
    position: relative;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    .text-1 {
      font-size: 27px;
    }
    .text-2 {
      text-shadow: 4px 3px #8f879756;
      width: 100%;
      z-index: 1;
      color: #adcfc5;
      font-size: 100px !important;
      font-weight: 900;
      margin-left: -3px;
    }
    .text-3 {
      text-shadow: 4px 3px #8f879756;
      width: 100%;
      color: white;
      font-size: 40px !important;
      font-weight: 700;
      margin: 5px 0;
      span {
        color: $cs-dark-teal;
        font-weight: 500;
      }
    }
  }
}
