@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) { // mobile
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: $cs-blue;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home {
    background-attachment: scroll;
  }
  .home .home-content .text-2 {
    font-size: 80px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .education .edu-content .school {
    .logo {
      height: 100%;
      width: 100%;
      margin-bottom: 5%;
      img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    .text {
      width: 100%;
    }
  }
  .experience .exp-content .company {
    .logo {
      height: 100%;
      width: 100%;
      margin-bottom: 5%;
      img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        top: auto; // remove vertically centering img
        transform: none; // remove vertically centering img
      }
    }
    .logo-top {display: block !important;}
    .logo-bottom {display: none;}
    .text {
      width: 100%;
    }
  }
  .skills .skills-content .cards {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .education .edu-content .card {
    width: 100%;
  }
  .experience .exp-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  // .about .about-content .right .text,
  .skills .skills-content .cards .card {
    margin-left: 30px;
    margin-right: 30px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
