$main-color: rgb(13, 133, 93);
$dark-main: rgb(31, 17, 31);
$dark-light: rgb(59, 29, 59);
$light: rgb(218, 96, 75);
$cs-black: #0b0c10;
$cs-blue: #1f2833;
$cs-light: #c5c6c7;
$cs-teal: #66fcf1;
$cs-dark-teal: #45a29e;
